<div class="footer">
  <a class="footer-main-image" href="https://www.gouvernement.fr/abonnez-vous">
    <img src="../../../assets/abonnez-vous.png" alt="abonnez-vous">
  </a>
  <div class="footer-main-separator"></div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <a class="footer-bottom-left-image" href="https://www.gouvernement.fr/">
        <img src="../../../assets/logo-footer.png" alt="logo-footer">
      </a>
      <span class="dark-grey-text footer-slogan">
                Le Gouvernement agit pour vous.
            </span>
      <span class="dark-grey-text footer-creative-commons">
                Sauf mention contraire, tous les textes de ce site sont sous licence Creative Commons.
            </span>
      <div class="footer-networks">
        <a class="big-button twitter" href="https://twitter.com/gouvernementfr">
          <img class="big-logo" src="../../../assets/twitter-brands.svg" alt="twitter">

        </a>
        <a class="big-button facebook" href="https://www.facebook.com/gouvernement.fr">
          <img class="big-logo" src="../../../assets/facebook-f-brands.svg" alt="facebook">
        </a>
        <a class="big-button instagram" href="https://www.instagram.com/gouvernementfr/">
          <img class="big-logo" src="../../../assets/tumblr-brands.svg" alt="instagram">

        </a>
        <a class="big-button rss" href="https://www.gouvernement.fr/rss.xml">
          <img class="big-logo" src="../../../assets/rss-solid.svg" alt="rss">

        </a>
      </div>
      <a class="light-grey-links" href="about:blank">
        Gestion des cookies
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/donnees-personnelles-et-cookies">
        Données personnelles et cookies
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/contact/ecrire-au-premier-ministre">
        écrire au premier ministre
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/contact/presse">
        Contact presse
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/abonnez-vous">
        Lettre d'information
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/mentions-legales">
        Mentions légales
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/accessibilite">
        Accessibilité
      </a>
      <a class="light-grey-links" href="https://www.gouvernement.fr/en/news">
        English
      </a>

    </div>
    <div>
      <div class="footer-bottom-right-title">
        Plan du site
      </div>
      <div class="footer-bottom-right-row">
        <div class="footer-list">
          <a class="light-grey-links" href="https://www.gouvernement.fr/suivre-l-actualite-du-premier-ministre">
            L'actualité du premier ministre
          </a>
          <a class="list-element list-first-element" href="https://www.gouvernement.fr/suivre-l-actualite-du-premier-ministre">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            En un coup d'oeil
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/toute-l-actualite">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Toute l'actualité
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/en-images">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            En images
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/espace-presse">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Espace presse
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/agenda-du-premier-ministre">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Agenda
                        </span>
          </a>
          <a class="list-element list-last-element" href="https://www.gouvernement.fr/discours-et-rapports">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Discours et rapports
                        </span>
          </a>
        </div>
        <div class="footer-list">
          <a class="light-grey-links" href="https://www.gouvernement.fr/les-actions-du-gouvernement">
            Les actions du gouvernement
          </a>
          <a class="list-element list-first-element" href="https://www.gouvernement.fr/les-actions-du-gouvernement">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Les actions
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/la-porte-parole">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            La Porte-parole
                        </span>
          </a>
          <a class="list-element list-last-element" href="https://www.gouvernement.fr/comptes-rendus-du-conseil-des-ministres">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Conseil des ministres
                        </span>
          </a>
        </div>
      </div>
      <div class="footer-bottom-right-row">
        <div class="footer-list">
          <a class="light-grey-links" href="https://www.gouvernement.fr/decouvrir-le-gouvernement-et-les-institutions">
            Le gouvernement et les institutions
          </a>
          <a class="list-element list-first-element" href="https://www.gouvernement.fr/decouvrir-le-gouvernement-et-les-institutions">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            En un coup d'oeil
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/composition-du-gouvernement">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Composition du Gouvernement
                        </span>
          </a>
          <a class="list-element" href="https://www.gouvernement.fr/les-services-du-premier-ministre">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Services du Premier Ministre
                        </span>
          </a>
          <a class="list-element list-last-element" href="https://www.gouvernement.fr/le-savez-vous">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Le savez-vous ?
                        </span>
          </a>
        </div>
        <div class="footer-list">
          <a class="light-grey-links" href="https://www.gouvernement.fr/les-infographies-et-videos">
            Partagez et diffusez
          </a>
          <a class="list-element list-first-element" href="https://www.gouvernement.fr/les-infographies-et-videos">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Les infographies et vidéos
                        </span>
          </a>
          <a class="list-element list-last-element" href="https://www.gouvernement.fr/les-infos-du-gouv">
            <img class="chevron" src="../../../assets/chevron-right-solid.svg" alt="chevron">
            <span class="dark-grey-link">
                            Les Infos du Gouv
                        </span>
          </a>
        </div>
      </div>
      <div class="footer-bottom-right-last-row">
        <div class="footer-bottom-right-last-row-main">
          Les sites publics :
        </div>
        <a class="footer-bottom-right-last-row-element footer-bottom-right-last-row-first-element" href="https://www.elysee.fr/">
          Elysee.fr
        </a>
        <a class="footer-bottom-right-last-row-element" href="https://www.service-public.fr/">
          service-public.fr
        </a>
        <a class="footer-bottom-right-last-row-element" href="https://www.legifrance.gouv.fr/">
          legifrance.gouv.fr
        </a>
        <a class="footer-bottom-right-last-row-element" href="https://www.data.gouv.fr/fr/">
          data.gouv.fr
        </a>
        <a class="footer-bottom-right-last-row-element" href="https://www.france.fr/fr">
          france.fr
        </a>
      </div>
    </div>
  </div>
</div>
