/*
1px => 1 pixel
% => dépend de la largeur du conteneur (marche que pour la largeur
vh => espace visible (hauteur)
vw => espace visible (largeur)
vmin => plus petite valeur entre largeur et hauteur
vmax => plus grande valeur entre largeur et hauteur.
em => taille par rapport à la police (de l'element)
rem => taille par rapport à la police (de la racine)
*/

/* SASS

Convertir un fichier
@import ""; Importe un css

.btn { .icon {}} On peut imbriquer les elements
MAIS faut utiliser le & pour tout ce qui est lie au : (:hover), le & fait reference au parent


HERITAGE
@extend .btn


Faux selecteur, precede par un % => pas compiler, mais on peut extend ensuite
%btn {}


LES VARIABLES
$variable: data
Variable dans selecteur : # { $ var }
var!default = valeur par defaut
Assombrir une coueleur darken(variable, prct)
eclaircir une coueleur lighten(variable, prct)


MIXIN (fct)
@mixon nom($var: default) {}


Les conditions
@if (cond) {
} @else {
}
@debug ()


Les boucles
@for $i from 1 throught 4 {}
@each var in list
list: e1, e2, e3
pour les couples : nth(couple, position)
*/

@import '/~src/variables';

.header {
    width: $header-width;
    margin: 10px auto;
}

.header-top {
    width: $header-width;
    display: flex;
    margin: auto;
    padding: 10px 0;
}

.header-top-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $header-width / 2;
}

.header-top-right {
    display: flex;;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 20px;
    width: $header-width / 2;
}

.input-search {
    border-radius: 5px;
    height: 25px;
    width: 300px;
}

.little-image {
    height: 63px;
    width: 93px;
}

.big-image {
    height: 63px;
    width: 360px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    background: #9b9b9b;
}

.header-bottom {
    width: $header-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.menu {
    display: flex;
}

.menu-image {
    height: 50px;
    width: 50px;
    font-size: 48px;
}

.menu-text {
    display: block;
    margin: auto;
    padding-left: 10px;
    font-size: 15px;
}

.menu-text-title {
    font-size: 1.2em;
    color: #0065ff;
}
