<div class="header">

    <div class="header-top">

        <div class="header-top-left" style="padding-right: 50px">
            <img src="https://via.placeholder.com/93x60" style="padding-right: 5px;" alt="Image of france"/>
            <img src="https://via.placeholder.com/361x60" style="padding-right: 5px" alt="Image of text"/>
        </div>

        <div class="header-top-right">
            <input type="text" placeholder="Rechercher"  style="height: 30px; width: 250px; " />
            <img src="https://via.placeholder.com/30x30" style="padding-right: 5px; padding-left: 20px" alt="Image of text"/>
            <img src="https://via.placeholder.com/30x30" style="padding-right: 5px" alt="Image of text"/>
            <img src="https://via.placeholder.com/30x30" style="padding-right: 5px" alt="Image of text"/>
        </div>
    </div>
    <br>
    <div class="header-bottom">
        <img src="https://via.placeholder.com/236x70" style="padding-right: 5px" alt="Image of text"/>
        <img src="https://via.placeholder.com/236x70" style="padding-right: 5px" alt="Image of text"/>
        <img src="https://via.placeholder.com/236x70" style="padding-right: 5px" alt="Image of text"/>
        <img src="https://via.placeholder.com/236x70" style="padding-right: 5px" alt="Image of text"/>
    </div>


</div>


