/*
1px => 1 pixel
% => dépend de la largeur du conteneur (marche que pour la largeur
vh => espace visible (hauteur)
vw => espace visible (largeur)
vmin => plus petite valeur entre largeur et hauteur
vmax => plus grande valeur entre largeur et hauteur.
em => taille par rapport à la police (de l'element)
rem => taille par rapport à la police (de la racine)
*/

.header {
    max-width: 1000px;
    height: 30%;
    max-height: 200px;
    margin: 10px auto;
}

.header-top {
    display: flex;
    margin: auto;
    height: 60%;
}

.header-top-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.header-top-right {
    display: flex;;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding: 0 2% 0 5%;
}

.input-search {
    height: 20%;
    width: 60%;
}

.little-image {
    height: 63px;
    width: 93px;
}

.big-image {
    height: 63px;
    width: 360px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    background: #9b9b9b;
}

.header-bottom {
    display: flex;
    height: 40%;
    //background-color: black;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-image {
    height: 50px;
    width: 50px;
}

.menu-text {
    display: block;
    margin: auto;
    padding-left: 10px;
    font-size: 15px;
}

.menu-text-title {
    font-size: 1.2em;
    color: #0065ff;
}
