<div class="header">
    <div class="header-top">
        <div class="header-top-left">
            <img src="https://www.gouvernement.fr/sites/all/themes/custom/matignon/img/header/marianne.png" class="little-image" alt="Image of france"/>

            <img src="https://www.gouvernement.fr/sites/all/themes/custom/matignon/img/header/logo.png" class="big-image" alt="Image of text"/>
        </div>

        <div class="header-top-right">
            <input type="text" placeholder="Rechercher" class="input-search"/>

            <a href="#" class="fa fa-twitter"></a>

            <a href="#" class="fa fa-facebook"></a>

            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>

    <div class="header-bottom">
        <div class=menu>
            <img src="https://cdn1.iconfinder.com/data/icons/material-design-icons-light/24/clock-512.png" class="menu-image">

            <div class="menu-text">
                <div class="menu-text-title"> ACTUALITE </div>

                du premier ministre
            </div>
        </div>

        <div class=menu>
            <img src="https://www.directlink.coop/img/icons/111251-material-design/111251-material-design/svg/check-box.svg" class="menu-image">

            <div class="menu-text">
                <div class="menu-text-title"> LES ACTIONS </div>

                du Gouvernement
            </div>
        </div>
        <div class=menu>
            <img src="https://cdn0.iconfinder.com/data/icons/business-management-part-2-2/512/28-512.png" class="menu-image">

            <div class="menu-text">
                <div class="menu-text-title"> LE GOUVERNEMENT </div>

                et les institutions
            </div>
        </div>
        <div class=menu>
            <img src="https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_settings_input_antenna_48px-512.png" class="menu-image">

            <div class="menu-text">
                <div class="menu-text-title"> Partagez </div>

                Et diffusez
            </div>
        </div>
    </div>
</div>
