.header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-top {
    display: flex;
    text-align: center;
    justify-content: center;

}

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.searchBar {
    overflow: hidden;
    background-color: #e9e9e9;
    border: none;
    float: none;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

.part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    background: #9b9b9b;
}



