<div class="header">
  <div class="header-left">
    <div class="marianne">
      <img src="../../../assets/marianne.png" alt="marianne">
    </div>
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo">

    </div>
  </div>
  <div class="header-right">
    <div class="header-top-right">
      <a href="https://www.gouvernement.fr/en/news" class="language-selection">
        ENGLISH
      </a>
    </div>
    <div class="header-bottom-right">
      <div class="searchbar_block">
        <label for="searchbar-block"></label>
        <input id="searchbar-block" placeholder="Rechercher" class="searchbar">
        <input class="searchbar-icon" type="submit">
      </div>
      <div class="network-icons">
        <a href="https://twitter.com/gouvernementfr" class="regular-icon twitter">
          <img class="regular-logo" src="../../../assets/twitter-brands.svg" alt="twitter">
        </a>
        <a href="https://twitter.com/gouvernementfr" class="regular-icon facebook">
          <img class="regular-logo" src="../../../assets/facebook-f-brands.svg" alt="facebook">
        </a>
        <a href="https://twitter.com/gouvernementfr" class="regular-icon instagram">
          <img class="regular-logo" src="../../../assets/instagram-brands.svg" alt="instagram">
        </a>
      </div>
    </div>

  </div>

</div>
<div class="nav">
  <a class="tab" href="https://www.gouvernement.fr/suivre-l-actualite-du-premier-ministre">
    <img class="nav-image" src="../../../assets/clock-regular.svg" alt="clock">
    <div class="nav-text">
      <span class="tab-title">L'ACTUALITÉ</span>
      <span>du Premier ministre</span>
    </div>
  </a>
  <a class="tab actions" href="https://www.gouvernement.fr/les-actions-du-gouvernement">
    <img class="nav-image" src="../../../assets/check-square-regular.svg" alt="checkbox">
    <div class="nav-text">
      <span class="tab-title">LES ACTIONS</span>
      <span>du Gouvernement</span>
    </div>
  </a>
  <a class="tab gouv" href="https://www.gouvernement.fr/decouvrir-le-gouvernement-et-les-institutions">
    <img class="nav-image" src="../../../assets/sitemap-solid.svg" alt="sitemap">
    <div class="nav-text">
      <span class="tab-title">LE GOUVERNEMENT</span>
      <span>et les institutions</span>
    </div>
  </a>
  <a class="tab partagez" href="https://www.gouvernement.fr/les-infographies-et-videos">
    <img class="nav-image" src="../../../assets/broadcast-tower-solid.svg" alt="broadcast-tower">
    <div class="nav-text">
      <span class="tab-title">PARTAGEZ</span>
      <span>et diffusez</span>
    </div>
  </a>
</div>
