<div class="content" style="padding-top: 50px">

    <img src="https://www.gouvernement.fr/sites/default/files/styles/plein-cadre/public/contenu/image/2019/01/rafale_irak_afp_960_430.jpg?itok=6kKr8d7T" />

    <div class="title" style="padding-top: 20px">
        Défense : nouvelle phase de développement pour le Rafale
    </div>

    <hr style="margin-top: 25px; width: 50px;"/>

    <div class="sub-title">
        L’État investit 1,9 milliard d’euros dans la modernisation de l’avion de chasse Rafale.
    </div>

    <div class="network" style="padding-top: 20px;">
        <img src="https://via.placeholder.com/100x32" style="padding-left: 5px; padding-right: 5px; border-radius: 25px;"/>
        <img src="https://via.placeholder.com/100x32" style="padding-left: 5px; padding-right: 5px; border-radius: 25px;"/>
        <img src="https://via.placeholder.com/100x32" style="padding-left: 5px; padding-right: 5px; border-radius: 25px;"/>
    </div>

    <div style="padding-top: 15px" class="text">
        Présente sur le site de Dassault Aviation à Mérignac le 14 janvier, la ministre des Armées, Florence Parly, a annoncé le financement d'une nouvelle phase de développement du Rafale. <strong>L’objectif : assurer la Défense nationale avec des technologies de pointe.</strong>
    </div>

    <div style="padding-top: 10px" class="sub-sub-title">
        30 nouveaux Rafale entre 2027 et 2030
    </div>

    <div style="padding-top: 15px" class="text">
        L’armée française se dotera de 30 nouveaux avions de chasse Rafale entre 2027 et 2030. À Mérignac, la ministre des Armées a annoncé la signature d’un contrat pour le développement du nouveau modèle de Rafale.
    </div>
</div>
