<div class="article">
    <div class="content">
        <img
            src="https://www.gouvernement.fr/sites/default/files/styles/plein-cadre/public/contenu/image/2019/01/rafale_irak_afp_960_430.jpg?itok=6kKr8d7T"
            class="image-plane"
            alt="Image of plane"/>

        <div class="content-text-space">
            <div class="title"> Défense : nouvelle phase de développement pour le Rafale </div>

            <hr>

            <div class="sub-title"> L’État investit 1,9 milliard d’euros dans la modernisation de l’avion de chasse Rafale. </div>

            <div class="text">
                Présente sur le site de Dassault Aviation à Mérignac le 14 janvier, la ministre des Armées, Florence Parly, a annoncé le financement d'une nouvelle phase de développement du Rafale

                <strong> L’objectif : assurer la Défense nationale avec des technologies de pointe. </strong>

                <div class="sub-sub-title"> 30 nouveaux Rafale entre 2027 et 2030 </div>

                <div class="text-part"> L’armée française se dotera de 30 nouveaux avions de chasse Rafale entre 2027 et 2030. À Mérignac, la ministre des Armées a annoncé la signature d’un contrat pour le développement du nouveau modèle de Rafale.</div>

                <div class="text-part">
                    <em>"Ce sont Safran, Thalès, MBDA et Dassault, mais aussi des centaines de PME, de start-up, de sous-traitants qui auront de l'activité et des commandes grâce à ce projet" </em>

                    , a déclaré Florence Parly à l’issue de la signature du contrat.

                    <strong> <em> "Au total, ce sont 2 500 à 5 000 emplois directs et indirects qui vivront grâce au standard F4" </em> </strong>

                    , a-t-elle rajouté.
                </div>

                <div class="text-part"> Le standard F4 correspond au quatrième développement des capacités opérationnelles du Rafale depuis sa mise en service. Le Rafale est un modèle d’avion de combat en service depuis 2002 dans l’Armée de l’air et la Marine nationale françaises. Il a été utilisé lors de plusieurs opérations militaires à l’étranger, notamment en Afghanistan, au Mali, en Irak et en Syrie. Le standard F4 du Rafale est issu d'une collaboration entre des groupes industriels, la Direction générale de l'armement (DGA), les États-majors des Armées et la Direction de la maintenance aéronautique (DMAé). </div>

                <div class="text-part"> À hauteur de 1,9 milliard d’euros, le contrat d’armement passé avec Dassault Aviation rentre dans le budget prévu par la Loi de programmation militaire (LPM) 2019-2025, qui vise notamment à préparer l’avenir de la défense de la France. Sur cette période, le ministère des Armées dispose de 300 milliards d’euros pour remplir deux missions : d’une part redonner aux armées les moyens de remplir durablement leurs missions, d’autre part préparer la défense de la France pour demain.  </div>

                <div class="sub-sub-title"> Un saut technologique, industriel et stratégique </div>

                <div class="text-part"> Selon Florence Parly, “ce standard F4 est un saut technologique, un saut industriel et un saut stratégique”. </div>

                <div class="text-part"> En effet, cette nouvelle phase de développement du Rafale repose sur quatre principaux piliers : d’abord, une plus grande connectivité pour augmenter la capacité de traitement de données de l’appareil. </div>
                <div class="text-part"> Ensuite, un armement accru, avec des missiles nouveaux ou rénovés. “ll sera mieux armé, encore, pour viser et vaincre nos adversaires”, a expliqué la ministre. </div>
                <div class="text-part"> Troisième axe de développement : la détection et la lutte contre les menaces, notamment grâce à un radar à antenne active et l’amélioration du système de protection et d'évitement des conduites de tir (SPECTRA). </div>
                <div class="text-part"> Dernier pilier : la disponibilité et le maintien en condition opérationnelle de l’avion, avec un moteur amélioré ainsi que l’introduction du système de pronostic et d’aide au diagnostic de panne. </div>
                <div class="text-part"> La nouvelle version du Rafale constitue également un premier pas vers le Système d'avion de combat du futur (SCAF). Ce programme franco-allemand mené par Dassault et Airbus vise à créer un système de combat complet associant avions de nouvelle génération, drones, commandement et missiles. </div>


            </div>
        </div>
    </div>
</div>
s
