/* Color variables */

$white:                     #FFFFFF;
$article-background-color:  #EFEEEC;
$footer-background-color:   #202328;
$button-color :             #757575;
$twitter-color:             #43C7F7;
$facebook-color:            #4267B2;
$instagram-color:           #36455C;
$print-color:               #24282C;
$mail-color:                #B34420;
$rss-color:                 #FF7522;
$main-blue:                 #0B6BA8;
$article-separator:         #D1D0DC;
$bouncing-area-separator:   #CCCECF;
$bouncing-area-button:      #052E48;
$dark-grey:                 #9E9D9A;
$light-grey:                #B5B5B5;
$footer-separator:          #313438;
$external-website:          #777674;

