/* Header variables */

/* width length */
$header-width: 1000px;


/* Article variables */

/* Background color */
$article-background-color: #efeeec;
/* width length */
$article-width: 1000px;
$article-sub-sub-title-color: #040fef;
